@import url("./root.css");
@import url(../fonts/segoe-ui-4-cufonfonts/);

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* containers */
.my-container {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 12px;
    padding-left: 12px;
}

/* bg-images */
.bg-img1 {
    background-image: url(../images/bg-img1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg1 {
    background-image: url(../images/slider-img1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg2 {
    background-image: url(../images/bg2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg3 {
    background-image: url(../images/slider-bg3.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg4 {
    background-image: url(../images/bg4.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* boxes */
.headbox {
    max-width: 709.79px;
    box-shadow: 3.7270500659942627px 3.7270500659942627px 16.771724700927734px 0px var(--bs-shadow-black);
    border-radius: 4.66px;
    padding: 64px 30px 62px 21px;
    background: rgba(134, 97, 197, 0.7);
}

.purple-card1 {
    border-radius: 4.66px;
    box-shadow: 2.5151734352111816px 2.5151734352111816px 11.318280220031738px 0px var(--bs-shadow-black);
    max-width: 479px;
    padding: 70px 5px;
    background: rgba(134, 97, 197, 0.7);

}

.purple-card2 {
    padding: 90px 18px 93px 18px;
    border-radius: 4.66px;
    box-shadow: 2.5151734352111816px 2.5151734352111816px 11.318280220031738px 0px var(--bs-shadow-black);
    max-width: 479px;
    background: rgba(134, 97, 197, 0.7);
}

.sec2-box {
    max-width: 779px;
}

.sec4-box {
    max-width: 887px;
}

.card1 {
    border-bottom: 1px solid var(--bs-basicblack)
}

.card2 {
    box-shadow: 0px 3.076772689819336px 7.69193172454834px 0px var(--bs-shadow-black2);
    border-radius: 7.3px;
    height: 172.3px;
    background-color: var(--bs-white);
}

.card5 {
    max-width: 492px;
    border: 3px solid var(--bs-lightgrey);
    border-radius: 5px;
    padding: 0px 51px;
    transition: all 300ms linear;
}

.card5:hover svg path {
    fill: var(--bs-lightpurple);
}

.card5:hover {
    background-color: var(--bs-lightgrey);
}

.card6:hover svg path {
    fill: var(--bs-lightpurple);
}

.card6:hover {
    background-color: var(--bs-lightgrey);
}

.card6 {
    max-width: 492px;
    border: 3px solid var(--bs-lightgrey);
    border-radius: 5px;
    padding: 0px 76px;
    transition: all 300ms linear;
}



.box1 {
    padding: 23px 65px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 420px;
    max-height: 114px;
    transition: all 300ms linear;
}

.box1:hover {
    background-color: var(--bs-darkpurple);
}

.box2 {
    padding: 10px 31px;
    border-radius: 5px;
    cursor: pointer;
    max-width: 420px;
    max-height: 114px;
    transition: all 300ms linear;
}

.box2:hover {
    background-color: var(--bs-darkpurple);
}

.box3 {
    max-width: 1047.25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;

}

.slider-card {
    max-width: 1254px;
    padding: 11px 8px;
    border: 2.14px solid var(--bs-darkpurple);
    border-radius: 6.62px;
    margin-left: 30px;
    margin-right: 30px;
}

.slider-box {
    padding: 0px 0px;
    border-radius: 5.36px;
}

.card3 {
    max-width: 492px;
    border: 3px solid var(--bs-purple);
    border-radius: 5px;
    transition: all 200ms linear;
}

.card3:hover {
    box-shadow: 2.5151734352111816px 2.5151734352111816px 11.318280220031738px 0px var(--bs-shadow-black);
}

.card4 {
    transition: all 200ms linear;
}

.card4:hover {
    box-shadow: 2.5151734352111816px 2.5151734352111816px 11.318280220031738px 0px var(--bs-shadow-black);
}

.padding-card1 {
    padding: 48px 25px 81px 25px;
}

.circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--bs-mid-grey);
}

.prev:hover .circle {
    background-color: var(--bs-purple);
}

.prev:hover svg path {
    fill: var(--bs-mid-grey);
}

.next:hover .circle {
    background-color: var(--bs-purple);
}

.next:hover svg path {
    fill: var(--bs-mid-grey);
}

/* buttons */
.start-btn {
    border: none;
    padding: 14px 42px;
    border-radius: 5px;
    margin-top: 36px;
    transition: all 300ms linear;
}

.start-btn:hover {
    transform: scale(1.2);
}

.apply-btn {
    border: none;
    padding: 14px 42px;
    border-radius: 5px;
    transition: all 300ms linear;
}

.apply-btn:hover {
    background-color: var(--bs-darkpurple);
    color: var(--bs-mid-grey);

}

.back-btn {
    padding: 8px 8px;
    border: none;
}

/* list */
.list1 {
    list-style: disc;
}

/* position */
.pos-prev {
    position: absolute;
    left: -18px;
    top: 439px;
}

.pos-next {
    position: absolute;
    right: -18px;
    top: 439px;
}

.ellipse1 {
    position: absolute;
    right: 0;
    top: -364px;
}

.ellipse2 {
    position: absolute;
    left: 0;
    top: -274px;
    z-index: -1 !important;
}

.ellipse3 {
    position: absolute;
    left: 0;
    top: -140px;
}

.pos-fix1 {
    position: fixed;
    bottom: 8px;
    right: 20px;
    z-index: 1;
}

/* preloader */
.duration-300 {
    transition: 300ms linear;
}

.pointer_event_none {
    pointer-events: none;
}

.z_3 {
    z-index: 3;
}

.animation {
    animation: swing 2s linear infinite;
}

@keyframes swing {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.icon {
    transition: all 300ms linear;
}

.icon:hover {
    transform: translateY(-20%);
}

/* height */
.max-h372 {
    max-width: 372px;
}

/* max-width */
.max-w496 {
    max-width: 393.14px;
    ;
}

.max-w683 {
    max-width: 683px;
}

.max-w382 {
    max-width: 382px;
}

.max-w278 {
    max-width: 278px;
}

.max-w411 {
    max-width: 411px;
}

.max-w779 {
    max-width: 779px;
}

.max-w828 {
    max-width: 828px;
}

.max-w530 {
    max-width: 530px;
}

.max-w390 {
    max-width: 390px;
}

.max-w925 {
    max-width: 925px;
}

/* spacing */
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-69 {
    padding-top: 69px;
}

.pb-85 {
    padding-bottom: 85px;
}

.pb-33 {
    padding-bottom: 33px;
}

.pb-34 {
    margin-bottom: 34px;
}

.py-84 {
    padding-top: 84px;
    padding-bottom: 84px;
}

.pt-49 {
    padding-top: 49px;
}

.pt-52 {
    padding-top: 52px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pt-63 {
    padding-top: 63px;
}

.pb-120 {
    padding-bottom: 120px;
}

.mb-68 {
    margin-bottom: 68px;
}

.mb-32 {
    margin-bottom: 32px;
}

.pt-22 {
    padding-top: 22px;
}

.px-25 {
    padding-left: 25px;
    padding-right: 25px;
}

.pt-82 {
    padding-top: 82px;
}

.pb-79 {
    padding-bottom: 79px;
}

.pb-53 {
    padding-bottom: 53px;
}

.mt-118 {
    margin-top: 118px;
}

.pb-33 {
    padding-bottom: 33px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-39 {
    padding-bottom: 39px;
}

.pt-45 {
    padding-top: 45px;
}

.pb-145 {
    padding-bottom: 145px
}

.pb-62 {
    padding-bottom: 62px;
}

.pb-44 {
    padding-bottom: 44px;
}

.pb-20 {
    padding-bottom: 20px;
}

.py-67 {
    padding-top: 67px;
    padding-bottom: 67px;
}

.pt-55 {
    padding-top: 55px;
}

.pb-168 {
    padding-bottom: 168px;
}

.py-93 {
    padding-top: 93px;
    padding-bottom: 93px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-70 {

    margin-bottom: 70px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-81 {
    margin-bottom: 81px;
}

.mt-15 {
    margin-top: 15px;
}

.nav-line:hover::after {
    width: 100%;
    transition: all 300ms linear;
}

.nav-line::after {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    height: 2px;
    background-color: white;
    bottom: -3px;
}


/* media queries */
@media (min-width:576px) {
    .slider-box {
        padding: 90px 90px;
        border-radius: 5.36px;
    }

    .box1 {
        padding: 4px 88px;
    }

    .box2 {
        padding: 10px 71px;
    }
}

@media (min-width:768px) {
    .card6 {
        max-width: 492px;
        border: 3px solid var(--bs-lightgrey);
        border-radius: 5px;
        padding: 0px 51px;
    }
}

@media (min-width:992px) {
    .pr-lg-65 {
        padding-right: 65px;
    }

    .h-lg-100 {
        height: 100%;
    }

    .slider-box {
        padding: 240px 90px;
        border-radius: 5.36px;
    }
}

@media (min-width:1200px) {
    .max-w496 {
        max-width: 496px;
    }

    .box1 {
        padding: 33px 41px;
    }

    .text-xl-nowrap {
        white-space: nowrap;
    }

    .purple-card2 {
        padding: 90px 0px 93px 0px;
        border-radius: 4.66px;
        box-shadow: 2.5151734352111816px 2.5151734352111816px 11.318280220031738px 0px var(--bs-shadow-black);
        max-width: 479px;
        background: rgba(134, 97, 197, 0.7);
    }
}

@media (min-width:1400px) {
    .headbox {
        max-width: 709.79px;
        box-shadow: 3.7270500659942627px 3.7270500659942627px 16.771724700927734px 0px var(--bs-shadow-black);
        border-radius: 4.66px;
        padding: 147px 160px 193px 53px;
        background: rgba(134, 97, 197, 0.7);
    }
}

/* -------====navbar====-----*/
@media (max-width: 991.98px) {
    .mobile_view {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        min-height: 100vh;
        background-color: var(--bs-purple);
        transition: 300ms linear;
        flex-direction: column;
        z-index: 2;
    }

    .overflow_hidden {
        overflow: hidden;
    }

    .line1,
    .line2,
    .line3 {
        width: 30px;
        min-height: 3px;
        background-color: var(--bs-white);
        transition: 300ms linear;
    }

    .cross .line1 {
        transform: rotate(50deg) translate(17px, 14px);
    }

    .cross .line2 {
        transform: translateX(-50%);
        opacity: 0;
    }

    .cross .line3 {
        transform: rotate(-50deg) translateY(-50%);
    }

}